name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Dependencies with Fallback
        run: |
          if [ ! -f "package-lock.json" ]; then
            npm install
          else
            npm ci
          fi
      - name: Deploy
        run: npm run deploy